<div class="LoginPageContainer">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="50%" fxLayoutAlign="center center">
      <div class="ImageContianer">
        <img src="../../../../assets/signin1.png" class="GroupImage">
      </div>
    </div>
    <!-- Login -->
    <div fxFlex="50%" class="LoginFormContainer" fxLayoutAlign="center center" fxLayout="column">
      <img class="logo" src="../../../../assets/SkyHAWKS.png">
      <p class="subtext">Welcome to SKYHAWKS!</p>
      <div class="form-container" fxLayoutAlign="center center" fxLayout="column">
        <p class="signup-here">Signup Here!</p>
        <form [formGroup]="signupForm">
          <div fxLayout="column"  fxLayoutAlign="center center">
            <mat-form-field appearance="outline">
              <mat-label>Email*</mat-label>
              <input matInput type="text" placeholder="Enter your Email Address" formControlName="email">
            </mat-form-field>
            <div class="checkboxContainer">
              <label for="RememberMe">An email will be sent to you for <br> account verification.</label>
            </div>
            <button mat-button class="LoginButton">Register</button>
            <div class="footer">
              Already have an account ? <a (click)="onSignup()" class="signupLink">Log In</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>