.outer-container {
  background-color: #7da2a9;
  width: 100%;
  height: 100%;
}

.logo {
  width: 250px;
  height: auto;
  object-fit: cover;
  margin-bottom: 50px;
}

.menu-list {
  color: #f7f7f7;
  padding-right: 30px;
}

.menu-list:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #000;
}