<div class="outer-container">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <img class="logo" src="../../../../assets/SkyHAWKS.png" />
    <div fxLayout="row" fxLayoutAlign="center center">
      <a (click)="scrollToSection('home')" class="menu-list">Home</a>
      <a (click)="scrollToSection('aboutus')" class="menu-list">Aboutus</a>
      <a (click)="scrollToSection('contactus')" class="menu-list">Contactus</a>
      <a (click)="onNavigate()" class="menu-list">Add Project</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>