<div class="navbar" id="navbar">
  <div class="logo">
    <a href="#" style="font-size: 20px;">Landing Stars</a>
  </div>
  <div class="nav-links">
    <a href="#">Product List</a>
    <a href="#">Product Details</a>
  </div>
</div>
<div class="container">
  <h1>Welcome to Landing Stars</h1>
  <p>Explore the beauty of dynamic backgrounds.</p>
  <a href="#features" class="cta-button">Learn More</a>
</div>
<!-- section 2 -->
<div class="tool">
  <div class="outer-container">
    <div class="outer">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="4%" fxLayoutGap.lt-md="3%">
        <div class="left-top" fxFlex="50%">
          <div fxLayout="row" style="margin-bottom: 10px;">
            <div fxFlex="50%" style="align-items: center;">
              <h3 style="margin: 9px 0px 5px; color: dimgray; font-family: helvatica,sans-serif;
              font-size: 18px;">REPORTS TRACKER</h3>
            </div>
            <div class="tab-button" fxFlex="50%" fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="7%">
              <button mat-raised-button color="accent" (click)="onTab(1)">Tab 1</button>
              <button mat-raised-button color="accent" (click)="onTab(2)">Tab 2</button>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div *ngIf="id === 1" fxLayout="column">
            <div style="padding:  10px;" fxLayout="column">
              <div style="padding:15px 7px;" fxLayout="column">
                <h3 style="margin: 0 0 7px; font-size: 18px; color: rgb(191 204 255);"><span
                    style="font-size: 26px;color: dimgray;">63%</span> Generated Leads</h3>
                <mat-progress-bar mode="determinate" value="63"></mat-progress-bar>
              </div>
              <div style="padding:15px 7px;" fxLayout="column">
                <h3 style="margin: 0 0 7px; font-size: 18px; color: #b3b3b3;"><span
                    style="font-size: 26px;color: dimgray;">32%</span> Submitted Tickers</h3>
                <mat-progress-bar mode="determinate" value="32"></mat-progress-bar>
              </div>
            </div>
            <div style="padding:  10px;" fxLayout="column">
              <div style="padding:15px 7px;" fxLayout="column">
                <h3 style="margin: 0 0 7px; font-size: 18px; color: #b3b3b3;"><span
                    style="font-size: 26px;color: dimgray;">71%</span> Server Associate</h3>
                <mat-progress-bar mode="determinate" value="71"></mat-progress-bar>
              </div>
              <div style="padding:15px 7px;" fxLayout="column">
                <h3 style="margin: 0 0 7px; font-size: 18px; color: #b3b3b3;"><span
                    style="font-size: 26px;color: dimgray;">41%</span> Valuable Accounts</h3>
                <mat-progress-bar mode="determinate" value="41"></mat-progress-bar>
              </div>
            </div>
          </div>
          <div *ngIf="id === 2" fxLayoutAlign="center center" style="height: 100%;">
            <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="--value:65"></div>
          </div>
        </div>
        <div class="left-top" fxFlex="50%">
          <div fxLayout="column">
            <div fxLayout="row" fxLayout.lt-sm="column">
              <div fxFlex="50%" class="card-outer" fxLayoutAlign="center center" fxLayout="column">
                <div class="divide-class"><span class="material-icons">report</span></div>
                <h1 style="margin: 16px;">25.9k</h1>
                <p style="margin: 6px 5px 11px;">Daily Reports</p>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3%" style="width: 100%;">
                  <mat-icon style="color: #fff;">arrow_right_alt</mat-icon>
                  <span>87%</span>
                </div>
              </div>
              <div fxFlex="50%" class="card-outer" fxLayoutAlign="center center" fxLayout="column">
                <div class="divide-class"><span class="material-icons">report</span></div>
                <h1 style="margin: 16px;">17.2k</h1>
                <p style="margin: 6px 5px 11px;">Weekely Reports</p>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3%" style="width: 100%;">
                  <mat-icon style="color: #fff;">arrow_right_alt</mat-icon>
                  <span>87%</span>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayout.lt-sm="column">
              <div fxFlex="50%" class="card-outer" fxLayoutAlign="center center" fxLayout="column">
                <div class="divide-class"><span class="material-icons">report</span></div>
                <h1 style="margin: 16px;">62.4k</h1>
                <p style="margin: 6px 5px 11px;">Monthly Reports</p>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3%" style="width: 100%;">
                  <mat-icon style="color: #fff;">arrow_right_alt</mat-icon>
                  <span>87%</span>
                </div>
              </div>
              <div fxFlex="50%" class="card-outer" fxLayoutAlign="center center" fxLayout="column">
                <div class="divide-class"><span class="material-icons">report</span></div>
                <h1 style="margin: 16px;">45.9k</h1>
                <p style="margin: 6px 5px 11px;">Yearly Reports</p>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3%" style="width: 100%;">
                  <mat-icon style="color: #fff;">arrow_right_alt</mat-icon>
                  <span>87%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="particles"></div>
<div class="star-background"></div> -->