.outer {
  height: 360px;
  width: 100%;
  background-color: #e1dfec;
}

.right {
  height: 100%;
}

.right img {
  width: 100%;
  height: 100%;
  object-position: center;
  background-color: #e1dfec;
}

.left {
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  place-content: center;
}

.left .logo {
  height: 55px;
  width: auto;
  position: absolute;
  left: 25px;
  top: 25px;
}

.left h4 {
  font-family: cursive;
  margin-left: 50px;
  margin-right: 20px;
  font-size: 45px;
  line-height: 50px;
  letter-spacing: 0em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  color: rgb(29, 33, 59);
  text-shadow: rgba(29, 33, 59, 0.4) 4.14063px 4.14063px 0px;
}

.left h6 {
  font-family: cursive, sans-serif;
  text-align: center;
  color: #1d213b;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0px;
  word-spacing: -1px;
  margin-left: 50px;
  margin-top: 30px;
  text-transform: capitalize;
}

.example-spacer {
  flex: 1 1 auto;
}

.menu-logout {
  font-size: 16px;
  cursor: pointer;
  place-content: center;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
}

.menu-logout p {
  margin: 12px 6px;
}

.menu-logout.material-icons {
  font-size: 20px;
}

.content {
  padding: 16px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar {
  overflow: hidden;
  background-color: #1d213b;
  position: fixed;
  top: -100px;
  transition: top 0.5s ease;
  z-index: 2;
}

.head {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.signin {
  padding: 5px 20px;
  background-color: white;
  color: black;
  font-size: 16px;
  border-radius: 25px;
  text-align: center;
  font-weight: 600;
  margin-right: 10px;
}

.signin:hover {
  cursor: pointer;
}

.icon_white {
  color: white;
}

.section2 {
  padding: 40px 20px;
  text-align: center;
}

.section2 h3 {
  font-family: cursive;
  font-size: 38px;
  color: #2a244b;
  font-weight: 600;
  letter-spacing: 1px;
}

.divider {
  height: 2px;
  width: 40px;
  background-color: #2a244b;
}

.section2 h5 {
  font-size: 20px;
  font-family: cursive;
  color: #98959e;
  padding-bottom: 25px;
}

.box_outer {
  padding: 25px 10px;
  border: 1px solid rgb(194, 189, 189);
  text-align: center;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.service_num {
  width: fit-content;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  padding: 15px 10px;
  background-color: #2a244b;
  border-radius: 50%;
  transition: all .3s ease-in-out;
  transform-origin: top;
  margin-bottom: 25px;
}

.service_text {
  color: #2a244b;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.3px;
  padding: 0px 15px;
}

.color_icon {
  color: #2a244b;
  font-size: 30px;
}

.box_outer:hover {
  // background-color: #2a244b;
  background-image: url('/assets/keyboard.jpg');
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box_outer:hover {
  .service_text {
    color: #ffffff;
  }

  .service_num {
    background-color: white;
    color: #2a244b;
  }

  .color_icon {
    color: white;
  }
}

.footer {
  background-color: rgb(223 221 221);
  padding: 60px 40px 40px;
  align-items: center;
}

.bottom {
  background-color: #0e0e0f;
  padding: 15px;
  text-align: center;

  span {
    color: white;
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }

}

.icons {
  img {
    width: 90%;
    transition: all 0.5s ease-in-out;
  }
}

.icons img:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.bg-img3 h3 {
  position: absolute;
  left: 30%;
  top: 50%;
  font-size: 45px;
  letter-spacing: 9px;
  font-weight: 600;
  color: rgb(250, 247, 247);
  text-transform: uppercase;
  align-items: center;
}


.bg-img3 {
  background-image: url('/assets/book1.jpg');
  height: 600px;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.5;
  position: relative;
}

.navbar-footer {
  h5 {
    color: #1d213b;
    font-size: 23px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px 0px 0px 0px;
    padding-right: 18px;
    border-right: 2px solid #2f2f2f;
  }
}

.navbar-footer h5:hover {
  cursor: pointer;
  color: gray;
}

@media screen and (max-width:566px) {
  .section3 {
    margin: 20px;
  }
}

.section3 .service {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.section3_right {
  margin-right: 15px;
}


.section3 .sign {
  padding-top: 20px;
  width: 130px;
  height: auto;
}

.section3 h4 {
  font-size: 16px;
  font-family: cursive;
  text-transform: uppercase;
  font-weight: 600;
  color: #98959e;
}

.section3 h3 {
  font-family: cursive;
  font-size: 38px;
  color: #2a244b;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.section3 span {
  font-family: cursive;
  font-size: 20px;
  color: #0e0e0f;
  letter-spacing: 1px;
  line-height: 26px;
}

// section 4
.container {
  padding: 40px 30px;
}

.container .title {
  font-family: cursive;
  font-size: 38px;
  color: #2a244b;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.content {
  position: relative;
  width: 260px;
  height: 350px;
  margin: 5px;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
  height: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  font-size: 22px;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
}

.fadeIn-top {
  top: 20%;
}

@media screen and (max-width: 800px) {
  .section3_right h3 {
    line-height: 42px !important;
    font-size: 30px !important;
    padding-bottom: 0 !important;
    padding-top: 10px !important;
  }

  .box_outer {
    margin: 13px !important;
  }

  .textWrapElipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    white-space: normal;
  }

  .bg-img3 h3{
    left: 15% !important;
  }

  .container {
    text-align: center !important;
  }
}