<mat-toolbar class="navbar" id="navbar">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <span class="material-icons icon_white">
      schedule
    </span>
  </button>
  <span class="head">Schedule</span>
  <span class="example-spacer"></span>
  <span class="signin">Signup</span>
  <span class="signin">Login</span>
  <button mat-icon-button [matMenuTriggerFor]="beforeMenu">
    <span class="material-icons icon_white">account_circle</span>
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before" fxLayoutAlign="center center">
    <div class="menu-logout">
      <p>Change Password </p>&nbsp;<span class="material-icons">change_circle</span>
    </div>
    <mat-divider></mat-divider>
    <div class="menu-logout">
      <p>Logout </p>&nbsp;<span class="material-icons">logout</span>
    </div>
  </mat-menu>
</mat-toolbar>
<!-- Banner -->
<div class="outer" fxLayout="row" fxLayout.lt-sm="column-reverse" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayout.lt-sm="column" fxLayout.lt-md="column" fxFlex="60%" fxLayout.lt-sm="100%"
    class="left">
    <img src="./assets/logo2.png" class="logo">
    <h4>Place to create a Genius</h4>
    <h6>A book is a gift you can open again and again.</h6>
  </div>
  <div fxFlex="40%" fxLayout.lt-sm="100%" class="right">
    <img src="../../../../assets/main1.png" class="banner" />
  </div>
</div>

<!-- Section 2 -->
<div class="section2" fxLayoutAlign="center center" fxLayoutGap="2%" fxLayout="column">
  <h3>Who We Are</h3>
  <div class="divider"></div>
  <h5>We are passionate about empowering individuals through accessible and transformative learning experiences.</h5>
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="3%" fxLayoutGap.lt-md="0">
    <div fxFlex="28%" fxFlex.lt-md="46%" fxFlex.lt-sm="100%" class="box_outer" fxLayout="column"
      fxLayoutAlign="center center">
      <span class="service_num">01</span>
      <h4 class="service_text">Unlock a world of knowledge with our book. Where every page holds a new adventure.</h4>
      <span class="material-icons color_icon">menu_book</span>
    </div>
    <div fxFlex="28%" fxFlex.lt-md="46%" fxFlex.lt-sm="100%" class="box_outer" fxLayout="column"
      fxLayoutAlign="center center">
      <span class="service_num">02</span>
      <h4 class="service_text">Discover top-rated reads with our book service. Where every star shines bright.</h4>
      <span class="material-icons color_icon">star_rate</span>
    </div>
    <div fxFlex="28%" fxFlex.lt-md="46%" fxFlex.lt-sm="100%" class="box_outer" fxLayout="column"
      fxLayoutAlign="center center">
      <span class="service_num">03</span>
      <h4 class="service_text">Elevate global knowledge exponentially with our revolutionary service.</h4>
      <span class="material-icons color_icon">public</span>
    </div>
    <div>
    </div>
  </div>
</div>

<!-- Section 3 -->
<div class="section3" fxLayout="row" fxLayout.lt-sm="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="center center"
  fxLayoutGap="3%" fxLayout.lt-sm="0">
  <div fxFlex="48%" fxFlex.lt-sm="100%">
    <img class="service" src="../../../../assets/LittleBook.jpg" />
  </div>
  <div class="section3_right" fxFlex fxFlex.lt-sm="100%" fxLayout="column">
    <h4>Our Story</h4>
    <div class="divider"></div>
    <h3>Storytelling Journey</h3>
    <span class="textWrapElipsis">Flipo Library provides top-notch services for a superior online eBook shopping
      experience. Enjoy a diverse
      selection, personalized recommendations, and secure transactions. Our user-friendly platform and responsive
      customer support ensure a seamless digital journey. Shop seamlessly and find your next great read in just a
      click.</span>
    <img class="sign" src="../../../../assets/sign.png" />
  </div>
</div>

<!-- Section 4 -->
<div fxLayoutAlign="center center">
  <div class="container">
    <h3 class="title">Top Book Collections</h3>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div *ngFor="let item of books" class="content">
        <div class="content-overlay"></div>
        <img class="content-image" [src]="item?.imageUrl" alt="no-book-image">
        <div class="content-details fadeIn-top">
          <h3>{{item?.title}}</h3>
          <p>{{item?.author}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Section 5 -->
<div class="bg-img3">
  <div>
    <h3>World Customers</h3>
  </div>
</div>

<!-- Footer -->
<div class="footer">
  <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center">
    <div class="icons">
      <a href="https://www.instagram.com/" target="_blank">
        <img src="./assets/insta.png" />
      </a>
    </div>
    <div class="icons">
      <a href="https://www.linkedin.com/in/sujithass501/" target="_blank">
        <img src="./assets/linkedin.png" />
      </a>
    </div>
    <div class="icons">
      <a href="https://in.pinterest.com/sujithass2002/" target="_blank">
        <img src="./assets/pinterest.png" />
      </a>
    </div>
    <div class="icons">
      <a href="https://twitter.com/Sujitha_ot7" target="_blank">
        <img src="./assets/twitter.png" />
      </a>
    </div>
    <div class="icons">
      <a href="https://www.facebook.com/profile.php?id=61550749120885" target="_blank">
        <img src="./assets/facebook.png" />
      </a>
    </div>
  </div>
  <div class="navbar-footer" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2%">
    <h5>Home</h5>
    <h5>About</h5>
    <h5 style="border-right: none;padding: 0;">Contact Us</h5>
  </div>
</div>

<!-- Bottom -->
<div class="bottom">
  <span>Copyright @2024, Designed by SUJITHA</span>
</div>

<router-outlet></router-outlet>