* {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

.LoginPageContainer {
  background-color: #7da2a9;

}

.ImageContianer {
  width: 500px;
  height: auto ;
}

.GroupImage {
  height: 100%;
  width: 100%;
}

.logo {
  height: 200px;
}

.subtext {
  color: #f7f7f7;
  font-size: 20px;
}

.LoginFormContainer {
  padding: 10px 60px;
}

.signup-here {
  color: #7da2a9;
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: 600;
}

.form-container {
  margin: 30px 0px;
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 20px;
  width: 60%;
}

.checkboxContainer {
  display: block;
  padding: 0px 5px;
  color: #f7f7f7;
}

.checkboxContainer label {
  display: block;
  padding: 0px 5px;
  color: #e7483b;
  text-align: center;
}

.LoginButton {
  padding: 0px 24px;
  margin-top: 30px;
  display: block;
  width:fit-content;
  border-radius: 20px;
  font-size: 15px;
  background-color: #7da2a9;
  cursor: pointer;
  box-shadow: 3px 3px 3px 1px rgb(203 203 204);
}

.mat-mdc-button:not(:disabled) {
  color: #f7f7f7;
}

.footer {
  text-align: center;
  padding: 25px 8px 8px;
}

.signupLink {
  color: #7da2a9;
  cursor: pointer;
}

.continue-btn {
  padding: 0px 24px;
  margin-top: 10px;
  display: block;
  width:fit-content;
  border-radius: 20px;
  font-size: 15px;
  background-color: #f7f7f7;
  border: 1px solid #7da2a9;
  cursor: pointer;
  box-shadow: 3px 3px 3px 1px rgb(203 203 204);
}
