<div class="LoginPageContainer">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="50%" fxLayoutAlign="center center">
      <div class="ImageContianer">
        <img src="../../../../assets/signin1.png" class="GroupImage">
      </div>
    </div>
    <!-- Login -->
    <div fxFlex="50%" class="LoginFormContainer" fxLayoutAlign="center center" fxLayout="column">
      <img class="logo" src="../../../../assets/SkyHAWKS.png">
      <p class="subtext">Welcome to SKYHAWKS!</p>
      <div class="form-container" fxLayoutAlign="center center" fxLayout="column">
        <p class="signup-here">Login Here!</p>
        <form style="width: 100%;" [formGroup]="loginForm">
          <div fxLayout="column"  fxLayoutAlign="center center">
            <mat-form-field appearance="outline">
              <mat-label>Email*</mat-label>
              <input matInput type="text" placeholder="Enter your Email Address" formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="outline"><mat-label>Password*</mat-label>
              <input matInput type="password" placeholder="Enter your password" formControlName="password">
            </mat-form-field>
            <div class="OptionsContainer" fxLayoutAlign="end end">
              <a href="forgotpassword" class="ForgotPasswordLink">Forgot Password?</a>
            </div>
            <button mat-button class="LoginButton" (click)="onLogin()">Log In</button>
            <div class="footer">
              Not a Member yet ? <a (click)="onSignup()" class="signupLink">SignUp</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>