<div class="LoginPageContainer">
  <div class="LoginPageInnerContainer">
    <div class="ImageContianer">
      <img src="https://i.imgur.com/MYZd7of.png" class="GroupImage">
    </div>
    <!-- Login -->
    <div class="LoginFormContainer">
      <div class="right-image" fxLayout="row" fxLayoutAlign="end start">
        <div class="LoginFormInnerContainer">
          <div class="LogoContainer" fxLayoutAlign="center center">
            <img src="./assets/3.png" class="logo">
          </div>
          <header class="header">LOG IN</header>
          <header class="subHeader">Welcome to <b>Flipo Books!</b> Please Enter your Details</header>
          <form [formGroup]="loginForm">
            <div fxLayout="column">
              <mat-form-field appearance="fill">
                <mat-label>Email*</mat-label>
                <input matInput type="text" placeholder="Enter your Email Address" formControlName="email">
              </mat-form-field>
              <mat-form-field appearance="fill"><mat-label>Password*</mat-label>
                <input matInput type="password" placeholder="Enter your password" formControlName="password">
              </mat-form-field>
              <div class="OptionsContainer">
                <div class="checkboxContainer">
                  <input type="checkbox" id="RememberMe" class="checkbox"> <label for="RememberMe">Remember me</label>
                </div>
                <a href="forgotpassword" class="ForgotPasswordLink">Forgot Password?</a>
              </div>
              <button mat-button class="LoginButton">Log In</button>
              <div class="footer">
                Not a Member yet ? <a (click)="onLogin()" class="signupLink">Sign up</a>
              </div>
            </div>
          </form>
        </div>
        <div class="login-image">
          <img src="./assets/login.png">
        </div>
      </div>
    </div>
  </div>
</div>