<div>
  <div id="button" (click)="scrollToTop()">
    <span class="material-icons">keyboard_double_arrow_up</span>
  </div>
  
  <mat-toolbar id="toolbar" style="position: fixed;top: -100px;z-index: 10;" color="primary" class="example-toolbar">
    <h1 class="example-app-name">PORTFOLIYO</h1>
    <span class="example-spacer"></span>
    <span style="color: rgb(184, 179, 179); font-size: 17px; padding: 5px 20px;border-radius: 25px; background-color: #180909;">Signup</span>
    <span style="color: rgb(0, 0, 0); font-size: 17px; padding: 5px 20px;border-radius: 25px; background-color: white;">Login</span>
  </mat-toolbar>
  <div class="bg-img1">
    <div class="button">
      <p>KEEP ON</p>
    </div>
  </div>

  <div class="content1">
    <h3>Lorem Heading</h3>
    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.</span>
  </div>
  <div class="bg-img2">
    <div class="button">
      <span style="background-color: transparent;font-size: 25px;color: #f7f7f7; letter-spacing: 10px;">MOVING</span>
    </div>
  </div>
  <div class="content2">
    <!-- <h2>Lorem Heading</h2> -->
    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. </span>
  </div>
  <div class="bg-img3">
    <div class="button">
      <span style="background-color: transparent;font-size: 25px;color: #f7f7f7; letter-spacing: 10px;">FORWARD</span>
    </div>
  </div>
  <div class="footer">
    <!-- <div style="margin-bottom: 30px;" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3%"> 
      <div class="sb-textfield sb-textfield--green">
        <input type="text" class="sb-textfield__input" id="text1" name="text1" placeholder="Inserisci...">
        <span class="sb-textfield__row"></span>
      </div>
      <button mat-raised-button>Subscribe</button>
    </div> -->
    <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center">
      <div class="icons">
        <a href="https://www.instagram.com/" target="_blank">
        <img src="./assets/insta.png" />
        </a>
      </div>
      <div class="icons">
        <a href="https://www.linkedin.com/in/sujithass501/" target="_blank">
        <img src="./assets/linkedin.png" />
        </a>
      </div>
      <div class="icons">
        <a href="https://in.pinterest.com/sujithass2002/" target="_blank">
        <img src="./assets/pinterest.png" />
      </a>
      </div>
      <div class="icons">
        <a href="https://twitter.com/Sujitha_ot7" target="_blank">
          <img src="./assets/twitter.png" />
        </a>
      </div>      
      <div class="icons">
        <a href="https://www.facebook.com/profile.php?id=61550749120885" target="_blank">
        <img src="./assets/facebook.png" />
      </a>
      </div>
    </div>
    <div class="navbar" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2%">
      <h5>Home</h5>
      <h5 (click)="navigate()">About</h5>
      <h5 style="border-right: none;padding: 0;">Contact Us</h5>
    </div>
  </div>
  <div class="bottom">
    <span>Copyright @2024, Designed by SUJITHA</span>
  </div>
</div>