@use '@angular/material' as mat;
@include mat.core();

// Define $custom-primary-color here in styles.scss
$custom-primary-color: (
  50 : #e6e4ef,
  100 : #c0bcd7,
  200 : #978fbd,
  300 : #6d62a2,
  400 : #4d418e,
  500 : #2e1f7a,
  600 : #291b72,
  700 : #231767,
  800 : #1d125d,
  900 : #120a4a,
  A100 : #8c80ff,
  A200 : #5d4dff,
  A400 : #2f1aff,
  A700 : #1801ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$my-primary: mat.define-palette($custom-primary-color, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((color: (primary: $my-primary,
        accent: $my-accent,
      ),
      typography: mat.define-typography-config(),
      density: 0,
    ));

@include mat.all-component-themes($my-theme);

/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.mat-mdc-menu-content {
  padding: 8px 10px !important;
}

.mat-mdc-slider.mat-primary {
  --mdc-slider-handle-color: #000000;
  --mdc-slider-active-track-color: #000000;
  --mdc-slider-focus-handle-color: #000000;
  --mdc-slider-active-track-color: #000000;
}

.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color: #0c0c27;
}