<div class="outer-container">
  <div fxLayoutAlign="center center">
    <img class="main-img" src="../../../../assets/Gallery.png" />
  </div>
  <div class="container" fxLayout="column" fxLayoutGap="3%">
    <p class="head">Recent Works</p>
    <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="space-between center" fxLayoutAlign="space-between center">
      <h1 class="title">Let's Look The Recent Project Gallery</h1>
      <span class="button">View More Projects &nbsp;<i class="fa-solid fa-arrow-right"></i></span>
    </div>
  </div>
  <div class="container">
    <div *ngFor="let item of array;let i= index">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="space-between center" fxLayoutGap.lt-sm="2%" fxLayoutAlign="space-around">
        <div fxLayout="column" fxLayoutAlign="center center">
          <h1 class="list-title">0{{i+1}}</h1>
          <h3 class="list-title2">{{item?.title}}</h3>
        </div>
        <div class="head">
          <!-- <img class="list-image" [src]="item?.imageUrl" /> -->
          <h1>Little Black Book</h1>
        </div>
        <div fxLayoutAlign="center center">
          <div class="icon-border">
            <svg xmlns="http://www.w3.org/2000/svg" height="60px" viewBox="0 0 24 24" width="60px" fill="#f7f7f7">
              <path d="M0 0h24v24H0z" fill="none" />
              <path d="M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5z" />
            </svg>
          </div>
        </div>
      </div>
      <div class="divider"></div>
    </div>
  </div>
</div>